@use "../../styles/partials/mixins" as *;

.therapy {

    &__hero {
        padding: 7.75rem 0 2rem 0;
        background-image: url("../../assets/images/therapy-hero.jpg");
        @include mobile-hero-bg;
        flex-direction: column;
        align-items: center;

        &-title {
        @include page-title-withgreybg;
        }
    
        &-text {
            margin: 2rem 2rem 0 2rem;
        }
    }

    &__copy {
        margin: 2rem;

        &-heading {
            font-weight: 900;
            margin-top: 1rem;
        }

        &-list {
            list-style-type: disc;
            padding-left: 1.5rem;
        }

        &-paragraph {
            margin-top: 1rem;
        }
    }

    &__booking {
        background-image: url("../../assets/images/therapy-booking.jpg");
        @include mobile-hero-bg;
        padding: 1rem 2rem 4rem 2rem;

        &-title {
            text-align: right;
            align-self: flex-end;
            width: 10rem;
            margin-bottom: 2rem;
        }

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-button {
            margin-top: 1rem;
        }

        &-info {
            font-weight: 900;
        }
    }
}