@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.coaching {
    padding: 6rem 0 25rem 0;
    background-image: url("../../assets/images/coaching-hero.jpg");
    @include mobile-hero-bg;
    @include desktop-1280 {
        background-image: none;
        @include page-title-withgreybg;
        margin: 4.5rem 0 0 0;
        padding: 2rem 0;
    }

    &__container {
        display: flex;
    }

    &__img {
        padding-top: 4.5rem;
        width: 100%;
    }

    &__copy {
        margin: 2rem;
        @include desktop-1280 {
            width: 50%;
            margin: 2rem auto 0 auto;
        }

        &-list {
            list-style-type: disc;
            padding-left: 1.5rem;

            & li {
                font-weight: bold;
            }
        }
    }

    &__quote {
        border-left: 8px solid $grey;
        padding: 2rem;
        margin: 2rem 0;
    }

    &__bundles {
        margin: 0 2rem 2rem 2rem;
        @include desktop-1280 {
            width: 50%;
            margin: auto;
        }

        &-title {
            text-align: center;
            padding-bottom: 2rem;
        }

        &-desc {
            font-weight: bold;
            padding-bottom: .5rem;
        }

        &-container {
            padding: .5rem 0;
        }

        &-name {
            font-weight: 900;
        }

        &-duration {
            font-weight:100;
            font-style: italic;
        }
    }

    &__section-container {
        width: 100%;
    }
}