@use "../../styles/partials/variables.scss" as *;

.navpopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba($darkblue, 0.9);
  color: white;
  padding: 2rem;
  z-index: 1000;

  &__page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__page {
    padding: 1rem 0;
    font-size: 2rem;
    cursor: pointer;
  }
}
