@use "../../styles/partials/mixins.scss" as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    @include mobile-padding;
  
    &__hamburger {
      cursor: pointer;
      position: absolute;
      left: 1rem;
      z-index: 1001;
      transition: transform 0.5s ease; // Add smooth animation
  
      &.open {
        transform: rotate(180deg); // Rotate the icon when it's open
      }
    }

    &__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
    }
  }
  