@use "../../styles/partials/mixins" as *;

.studioclasses {
    &__hero {
        padding: 7.75rem 0;
        background-image: url("../../assets/images/classes-hero.jpg");
        @include mobile-hero-bg;
        flex-direction: column;
        align-items: center;

        &-title {
        @include page-title-withgreybg;
        }
    }

    &__copy {
        margin: 2rem 2rem 0 2rem;

        &-heading {
            font-weight: 900;
            margin-top: 1rem;
        }

        &-list {
            list-style-type: disc;
            padding-left: 1.5rem;
        }

        &-paragraph {
            margin-top: 1rem;
        }
    }

    &__schedule {
        padding: 1rem 2rem;

        &-day, &-time {
            font-weight: 900;
        }

        &-day {
            width: 3rem;
            margin-right: 1rem;
        }
        
        &-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 18.75rem;
        }

        &-table {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;
            border-bottom: 1px solid black;
        }

        &-title {
            text-align: center;
            padding: 1rem 0;
        }
    }

    &__button {
        margin: .25rem 0;
    }
}

a {
    text-decoration: none;
    color: inherit; // Ensures the button keeps its styling
  }
  